<table>
  <div class="card border-dark mb-3" style="max-width: 9rem;">
    <div class="card-header">ジャンル検索</div>
    <div class="card-body text-dark">
      <% genres.each do |genre|%>
      <p class="card-text"><%=genre.name%></p><%end%>
    </div>
  </div>
</table> 