<div class="container mx-5 my-4 ">

<h2 class="text-center">ご注文ありがとうございました!<br>またのご利用を
お待ち申し上げております。</h2>
<%=link_to root_path do%>
<div class="text-center"><%= image_tag 'kuma-san.jpeg' %><br>
<%end%>
<p>ながのCAKEマスコット　cakeちゃん</p></div>

</div>