<div class="text-center  alert-success"><%= flash[:notice] %></div>
<div class="text-center  alert-danger"><%= flash[:danger] %></div>
<!--<div class="alert alert-success" role="alert">-->
<!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--    <span aria-hidden="true">&times;</span></div>-->