<footer class="image_tag fixed-bottom pt-2 pb-2">
  <div class="container mt-3">
    <!--<div class="row no-gutters">-->
        <div class="col-md-12">
          <h4 class="undertext text-white text-center">© 2022 KWGS ALL Rights Rserbed.</h4>
        </div>
    </div>
  </div>
</footer>